.header__square-pic {
    width: 568px;
    height: 568px;
    background: #2f80ed;
    top: 64px;
    position: absolute;
    right: 0;
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    }