.footer__column-link {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    margin-left: auto;
    padding-left: 0;
  }

  .footer__column-link:hover {
    opacity: .5;
    transition:linear;
  }
  