.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  }

.header__title {
width: 730px;
padding-left: 64px;
z-index: 1;
font-weight: 96px;
font-size: 102px;
align-items: center;
display: flex;
}

.header__subtitle {
  width: 388px;
  padding-left: 64px;
  padding-bottom: 30px;
  position: absolute;
  font-weight: 25px;
  font-size: 18px;
  bottom: 0;
  left: 0;
  }

  .link {
  color: #2f80ed;
  }

.main__illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
  }

#square {
  width: 568px;
  height: 568px;
  background: #2f80ed;
  margin-top: 64px;
  position: absolute;
  right: 0;
  }

.logo {
  width: 183px;
  }

.logo_place_header {
  position: absolute;
  height: 32px;
  padding-top: 30px;
  padding-left: 64px;
  z-index: 1;
}

.border {
  border: 1px solid red;
}

.description {
  display: flex;
  justify-content: center;
}

.description_position {
  margin-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main_text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
  }

.section-title {
  width: 60%;
    display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.section-title__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
}

.section-subtitle {
  width: 60%;
  display: flex;
  justify-content: center;
}

.section-subtitle__title {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  }

.table__cell {
  width: 250px;
  margin-top: 30px;
  }

.cell__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;  
}  

.heading__text {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  }

.feynman {
  height: 790px;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  padding-top: 100px;
  flex-direction:column;
  align-items:center;
  }

  .feynman__title {
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bolder;
    display: flex;
    margin-top:0;
    margin-bottom:0;
    text-align: center;
    z-index: 1;
  }

  .feyman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    z-index: 1;
  }

  .feynman__pic {
    width: 867px;
    height: 637px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding-right: 48px;
    color: #2f80ed;
  }

  .kaufman {
  display: flex;
  position: relative;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -2;
  overflow: hidden;
}

.section-title_theme_dark {
  width: 60%;
    display: flex;
  justify-content: center;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
}

.section-subtitle_theme_dark {
  width: 60%;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.triangle {
  width: 877px;
  height: 877px;
  z-index: -1;
  position: absolute;
  right: -210px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.head__text__cell_theme_dark {
  width: 60%;
  color: white;
  margin-right: 0;
  }

.footer {  
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  }

.footer_columns {
  padding: 60px 0 40px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;    
  }

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal; 
}

  .footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bolder;
  }

  .footer__column-link a,
  .footer__column-links a {
    color: #ffffff;
    }

  ul { 
    list-style: none;
    margin-left: auto;
    padding-left: 0;
  }

  .footer_column_content_copiright {
  flex-basis: 711px;
  display: flex;
  align-items: flex-end;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer_column_content_info {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
  }

  .footer_column_content_social {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}
  
  .logo_place_footer {
    position: absolute;
    height: 32px;
    padding-top: 30px;
    padding-left: 64px;
    z-index: 1;
  }

  .footer__cell_theme_dark {
    color: white;
    }